################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Debug
/ffprobe
/GetFileInfo/Debug/GetFileInfo.tlog
/GetFileInfo/Debug
/GetFileInfo/Release
/GetFileSize/Release
/GetFileSize/x64/Debug
/Release
/third/ffmpeg/presets
/x64/Debug
/GetFileSize/Debug
